<a href="https://colab.research.google.com/github/takahasi103/Python_basic/blob/main/basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python基礎

##**01. 変数**

`変数名 = 値`で変数を定義  
`print(変数)`で変数の値を表示する

In [ ]:
# 例
a = 20 # 整数
print(a)

b = 1.5 # 少数
print(b)

c = "Hello" # 文字列
print(c)

20
1.5
Hello

変数名には、アルファベットの他にアンダーバー（`_`）を使用し数字を使うことも可能  
※**変数名の頭文字**を数字にすることはできない

In [ ]:
# 例
a_1 = 10
print(a_1)

10

In [ ]:
# 頭文字が数字の場合
1_a = 10
print(2_b)

SyntaxError: ignored

##**02. 四則演算**

In [ ]:
# 例
a = 5
b = 3

# 足し算
c = a + b
print(c)

# 引き算
d = a - b
print(d)

# 掛け算
e = a * b
print(e)

# 割り算（小数）
f = a / b
print(f)

# 割り算（整数）
g = a // b
print(g)

# 割り算の余り
h = a % b
print(h)

8
2
15
1.6666666666666667
1
2

補足  
`+`は文字列の結合ができる

In [ ]:
# 例
a = "Hello"
b = "World"

print(a + b)

HelloWorld

##**03. 比較演算子**

真偽値（`Bool値`）を利用して、論理演算の結果の真偽を判定する  

補足  
真偽値（`Bool値`）とは、真（`True`）もしくは偽（`False`）の2つの値を表すデータ型

In [ ]:
from binascii import b2a_base64
# 例
a = 3
b = 9

# aがbより大きいか
c = a > b
print(c)

# aがbより小さいか
d = a < b
print(d)

# aがb以上か
e = a >= b
print(e)

# aがb以下か
f = a <= b
print(f)

# aとbが等しいか
g = a == b
print(g)

# aとbが等しくないか
h = a != b
print(h)

False
True
False
True
False
True

##**04. 比較演算子**

1. **論理積**（`and`）  
両方の条件が真（`True`）の場合に真を返し、それ以外の場合は偽（`False`）を返す

2. **論理和**（`or`）  
どちらかの条件が真（`True`）の場合に真を返し、両方の条件が偽（`False`）の場合にのみ偽を返す

3. **論理否定**（`not`）  
条件を反転させる。条件が真なら偽（`False`）を、偽なら真（`True`）を返す

In [ ]:
# 例
a = 1
b = 2
c = 3

# 論理積
d = a < b and b < c
print(d)

# 論理和
e = a < b or b > c
print(e)

# 論理否定
f = not a < b
print(f)

True
True
False

##**05. リスト**

複数の値をまとめて扱う場合に使用  
全体を`[]`で囲み、各要素を`,`で区切る

In [ ]:
# 例
a = [10, 20, 30, 40, 50, 60]
print(a)

[10, 20, 30, 40, 50, 60]

`a[0]`のように変数名の直後に`[]`を記述し、index番号を`[]`内に指定することで各要素を取り出せる  
**※index番号は先頭から0番目、1番目…と数える**

In [ ]:
# 例
a = [80, 90, 100, 110, 120, 130]

# 要素を１つ取り出す場合
print(a[0])

# 要素を範囲を指定して取り出す場合
# 1番目以上、5番目未満の範囲
print(a[1:5])

# ３番目以降の範囲
print(a[3::])

80
[90, 100, 110, 120]
[110, 120, 130]

Pythonのリストはどのような値でも格納できる

In [ ]:
# 例
a = 400
b = [10, 20, "Hello", a, [30, 40, 50]]
print(b)
print(b[2])
print(b[3])
print(b[4])

[10, 20, 'Hello', 400, [30, 40, 50]]
Hello
400
[30, 40, 50]

**リストは、作成後に要素を変更・追加をすることができる**

In [ ]:
# 例
a = [1, 2, 3, 4, 5]

# 要素の変更
a[0] = "Hello"
print(a)

# 要素の追加
a.append(6)
print(a)

['Hello', 2, 3, 4, 5]
['Hello', 2, 3, 4, 5, 6]

##**06. タプル**

複数の値をまとめて扱う場合に使用。ただし、リストと違い、**要素の変更・追加ができない**  
全体を`()`で囲み、各要素を`,`で区切る

In [ ]:
# 例
a = (10, 20, 30, 40, "Hello", [50, 60, 70])
print(a)
print(a[4])

(10, 20, 30, 40, 'Hello', [50, 60, 70])
Hello

要素を変更・追加しようとするとエラーが発生

In [ ]:
# 例
a = (1, 2, 3, 4, 5, 6)

#　要素の変更
a[0] = 9

TypeError: ignored

In [ ]:
# 例
a = (1, 2, 3, 4)

# 要素の追加
a.append("Hello")

AttributeError: ignored

##**07. 辞書**

キーと値の組み合わせでデータを格納する  
全体を`{}`で囲み、`キー:値`を`,`で区切る

In [ ]:
# 例
a = {"apple":100, "orange":200}

# "apple"の持つ値を取得
print(a["apple"])

# 要素の変更
a["apple"] = 300
print(a["apple"])

# 要素の追加
a["lemon"] = 400
print(a)

100
300
{'apple': 300, 'orange': 200, 'lemon': 400}

##**08. if文**

条件分岐を行う  
`True`であれば`if`の次の処理が、`False`であれば`else`の次の処理が実行されます。  

**注意**  
* `if 条件式: `・`elif 条件式:`・`else:`のように行末には`:`が必要
* 処理を書くときは、行頭にインデント（半角スペース4つ）が必要

In [ ]:
# 例
a = 10

# 条件がTrueの時
if a == 10:
    print("aは10と等しい")
else:
    print("aは10と等しくない")

# 条件がFalseの時
if a > 20:
    print("aは20より大きい")
else:
    print("aは20より大きくない")

# ３つ以上の分岐を行う時
if a > 20:
    print("aは20より大きい")
elif a >= 10:
    print("aは10以上の数")
else:
    print("aは10未満の数")

aは10と等しい
aは20より大きくない
aは10以上の数

##**09. for文**

同じ処理を繰り返し実行する

**注意**  
* `for 変数名 in リスト: `のように行末に`:`が必要
* 処理を書くときは、行頭にインデント（半角スペース4つ）が必要

In [ ]:
# 例
a = [1, 2, 3]

for i in a:
    print(i * 10)

10
20
30

ループ内で連番の整数を使う場合は、`range`を使用する

In [ ]:
# 例
for i in range(0, 10):  # 変数iに0以上10未満の整数が入る
    print(i * 10)

0
10
20
30
40
50
60
70
80
90

if文と組み合わせることで、条件を満たした処理のみをループ内で実行できる

In [ ]:
# 例
a = []
for i in range(0, 100):
    if i%2 == 0:
        a.append(i)

print(a)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

##**10. while文**

条件が満たされている間ループする  

**注意**  
* `while 条件式: `のように行末に`:`が必要
* 処理を書くときは、行頭にインデント（半角スペース4つ）が必要

In [ ]:
# 例

# 10未満の間ループ
a = 0
while a < 10:
    print(a)
    a += 1

0
1
2
3
4
5
6
7
8
9

##**11. 関数**

ある処理をまとめたプログラムの塊（`print` etc.）  

**書き方**  

* `def 関数名(引数):`で定義する
* 処理の行頭にインデント（半角スペース４つ）

In [ ]:
# 例
def say_hello():
    print("Hello")

say_hello()

def print_hand(a): # 外部からの値を引数として受け取れる
    print(a)

print_hand("グー")

def sum_number(a, b, c): # 引数が複数の場合は、カンマで区切る
    d = a + b + c
    print(d)

sum_number(1, 2, 3)

def mean_number(a, b):
    m = (a + b) / 2
    return m             #return(戻り値）で外部に値を渡す

mean_number(10, 20)

Hello
グー
6

15.0

##**12. 変数のスコープ**

* **グローバル変数**  
関数の外で定義された変数 → **関数の外・内**どちらでも呼び出せる

* **ローカル変数**  
関数の内側で定義された変数 → **関数の内側**でしか使えない

In [ ]:
# 例
glob_1 = 10 #グローバル変数

def number():
    loc_1 = 20          # ローカル変数
    print(glob_1, loc_1)

number()

10 20

In [ ]:
# 例
glob_1 = 10 #グローバル変数

def number():
    loc_1 = 20          # ローカル変数

print(glob_1)
print(loc_1)

10

NameError: ignored

##**13. クラス**

複数の**メソッド**（関数のようなもの）をまとめることができる  

**書き方**  
* `class クラス名:`で定義する  
* メソッドは関数と同様に`def メソッド名():`で定義する

In [ ]:
# 例
class MenuItem: # クラス名の頭文字は大文字
    def item(self, name, price):  # メソッド
        print(name + "は、" + str(price) + "円です") # str()は文字列型に変換

m = MenuItem() # インスタンスを生成
m.item("apple", 100)

appleは、100円です

メソッドの最初の引数は、`self`と書く必要がある  
この`self`を用いて、インスタンスは値を保持する  
インスタンス内で値を保持する変数を、**インスタンス変数**と言う

In [ ]:
# 例
class MenuItem:
    def item(self, n, p):
        self.name = n # nameがインスタンス変数
        self.price = p  # priceがインスタンス変数

m = MenuItem()
m.item("apple", 100)

# インスタンス変数の値を表示
print(m.name) 
print(m.price)

# インスタンス変数の値を変更
m.price = 200
print(m.price)

apple
100
200

インスタンス変数は、インスタンスごとに異なる値を設定できる

In [ ]:
# 例
class MenuItem:
    def item(self, n, p):
        self.name = n
        self.price = p

m_1 = MenuItem()
m_1.item("apple", 100)

m_2 = MenuItem()
m_2.item("orange", 200)

menuitems = [m_1, m_2]
for m in menuitems:
    print(m.name + "は、" + str(m.price) + "円です")

appleは、100円です
orangeは、200円です

### **特殊なメソッド**

#### `__init__`メソッド  

（イニシャライザまたはコンストラクタとも呼ばれる）  
インスタンスが生成された直後に**`__init__`メソッド**が呼び出され処理が実行される

In [ ]:
class MenuItem:
    def __init__(self, n):
        self.name = n

    def item(self, p):
        print(self.name + "は、" + str(p) + "円です")

m = MenuItem("aplle")
print(m.name)
m.item(100)

aplle
aplleは、100円です

#### `__call__`メソッド

インスタンス名を使って呼び出すことができる

In [ ]:
class MenuItem:
    def __call__(self, n, p):
        print(n + "は、" + str(p) + "円です")

m = MenuItem()
m("aplle", 100)

aplleは、100円です

##**14. ファイルの保存と読み込み**

with構文を用いることで、ファイルの保存や読み込みを簡潔に記述できる

In [ ]:
# 例
greetings = "Hello World"

with open("greetings.text", "w") as f:
    f.write(greetings) #　ファイルに保存

In [ ]:
with open("greetings.text", "r") as f:
    print(f.read()) #ファイルの読み込み

Hello World